/* Estilos para el contenedor principal */
.contenedor {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #8cd1ad; /* Color de fondo */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Sombra */
}

/* Estilos para el título principal */
h1 {
    color: #333333; /* Color del texto */
}

/* Estilos para el campo de entrada de texto */
input[type="text"] {
    padding: 10px;
    font-size: 16px;
    width: 70%;
}

/* Estilos para los botones */
button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff; /* Color de fondo del botón */
    color: #ffffff; /* Color del texto del botón */
    border: none;
    cursor: pointer;
}

/* Estilos para el contenedor de datos climáticos */
#datosClima {
    margin-top: 20px;
    font-size: 18px;
}
